body{
    background-color: white;
}
.main{
    border: 2px solid black;
    border-radius: 10px;
    margin: 2em auto;
    width: 75%;
    background-color:black;
}
.header{
    text-align: center;
    font-size: 50px;
    margin: 2em auto;
    color: orange;
    /* border: 2px solid green; */
}
.input{
    /* border: 2px solid red; */
    /* width: 50%; */
    margin: auto;
    font-size: x-large;
    text-align: center;
}
#input{
    font-size: 20px;
}
#button-1{
    font-size: 20px;
}
.keys{
    /* border: 2px solid blue; */
    width:30%;
    display: flex;
    margin: 1em auto;
}
.digit{
    /* border: 2px solid green; */
    font-size: larger;
    width: 4em;
    height: 2em;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: auto;
}
@media only screen and (max-width: 1000px){
    .keys{
        width: 50%;
    }
    .input{
        /* width: 50%; */
        margin: auto;
    }
}